*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

.cards {
    width: 100%;
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
}

.heading {
    font-size: 42px;
    width: 100%;
    text-align: center;
}

.paragraph {
    text-align: center;
    margin-top: 22px;
    color: #000;
    font-size: 20px;
}

.card-item a {
    text-decoration: none;
    margin: auto 20px;
    background-color: #f2f2f2;
    box-shadow: 0 0 2px 3px #eee;
}

.card-item a:hover .card-name {
    color: white;
}

.card-item a:hover .paragraph {
    color: white;
}


/* @keyframes bgImg {
    0% {
        background-image: linear-gradient(to right, rgba(214, 221, 226, 0.8), rgba(87, 188, 255, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/enterprise_software_development_cover.jpg?itok=Pw7sxuIw");
    }
    100% {
        background-image: linear-gradient(to right, rgba(0, 153, 255, 0.8), rgba(26, 163, 255, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/enterprise_software_development_cover.jpg?itok=Pw7sxuIw");
    }
} */

.bg-background-1:hover {
    background-image: linear-gradient(to right, rgba(146, 177, 199, 0.8), rgba(87, 188, 255, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/enterprise_software_development_cover.jpg?itok=Pw7sxuIw");
    /* animation-name: bgImg;
    animation-duration: 0.5s; */
    background-position: center;
    background-repeat: no-repeat;
}

.card-item a:hover .logo-box {
    color: white;
}

.bg-background-2:hover {
    background-image: linear-gradient(to right, rgba(146, 177, 199, 0.8), rgba(87, 188, 255, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/custom_web_application_development_cover.jpg?itok=EtSFE6MH");
}

.bg-background-3:hover {
    background-image: linear-gradient(to right, rgba(146, 177, 199, 0.8), rgba(87, 188, 255, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/bg-mobile-app-development.jpg?itok=8cZ7Q-l3");
}

.card-item {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 30px 5px;
}

.box-card {
    text-align: center;
    margin: auto 15px;
    padding: 60px;
}

.card-name {
    font-size: 28px;
    color: black;
}

@media (max-width:600px) {
    .heading {
        font-size: 20px;
        width: 100%;
        text-align: center;
    }
    .paragraph {
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
    }
    .card-item {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .card-item {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .card-item a {
        margin: 10px;
    }
    .bg-background-1:hover {
        background-image: linear-gradient(to right, rgba(26, 76, 112, 0.8), rgb(27, 42, 53, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/enterprise_software_development_cover.jpg?itok=Pw7sxuIw");
        /* animation-name: bgImg;
    animation-duration: 0.5s; */
        background-size: cover;
        background-position: top;
        width: 100%;
    }
    .bg-background-2:hover {
        background-image: linear-gradient(to right, rgba(26, 76, 112, 0.8), rgb(27, 42, 53, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/custom_web_application_development_cover.jpg?itok=EtSFE6MH");
        /* animation-name: bgImg;
    animation-duration: 0.5s; */
        background-size: cover;
        background-position: top;
        width: 100%;
    }
    .bg-background-3:hover {
        background-image: linear-gradient(to right, rgba(26, 76, 112, 0.8), rgb(27, 42, 53, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/bg-mobile-app-development.jpg?itok=8cZ7Q-l3");
        /* animation-name: bgImg;
    animation-duration: 0.5s; */
        background-size: cover;
        background-position: top;
        width: 100%;
    }
}

@media (max-width:900px) {
    .heading {
        font-size: 29px;
        width: 100%;
        text-align: center;
    }
    .paragraph {
        font-size: 22px;
        width: 100%;
        margin-bottom: 20px;
    }
    .card-item {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .card-item {
        display: flex;
        flex-direction: column;
        margin-top: 5px;
    }
    .card-item a {
        margin: 10px;
    }
    .bg-background-1:hover {
        background-image: linear-gradient(to right, rgba(26, 76, 112, 0.8), rgb(27, 42, 53, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/enterprise_software_development_cover.jpg?itok=Pw7sxuIw");
        /* animation-name: bgImg;
    animation-duration: 0.5s; */
        background-size: cover;
        background-position: top;
        width: 100%;
    }
    .bg-background-2:hover {
        background-image: linear-gradient(to right, rgba(26, 76, 112, 0.8), rgb(27, 42, 53, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/custom_web_application_development_cover.jpg?itok=EtSFE6MH");
        /* animation-name: bgImg;
    animation-duration: 0.5s; */
        background-size: cover;
        background-position: top;
        width: 100%;
    }
    .bg-background-3:hover {
        background-image: linear-gradient(to right, rgba(26, 76, 112, 0.8), rgb(27, 42, 53, 0.8)), url("https://www.iflexion.com/files/styles/service__front_page/public/content/service/background/bg-mobile-app-development.jpg?itok=8cZ7Q-l3");
        /* animation-name: bgImg;
    animation-duration: 0.5s; */
        background-size: cover;
        background-position: top;
        width: 100%;
    }
}